### Rdds

In [1]:
# import findspark
# findspark.init()

In [3]:
# # import pyspark
# import random
# sc = pyspark.SparkContext(appName="Pi")
# num_samples = 100000000
# def inside(p):     
#   x, y = random.random(), random.random()
#   return x*x + y*y < 1
# count = sc.parallelize(range(0, num_samples)).filter(inside).count()
# pi = 4 * count / num_samples
# print(pi)
# sc.stop()

In [27]:
rdd = sc.textFile('file.txt')

In [30]:
rdd.take(2)

["As its name states, EETS was begun as a 'club', and it retains certain features of that even now. It has no physical location, or even office, no paid staff or editors, but books in the Original Series are published in the first place to satisfy subscriptions paid by individuals or institutions. This means that there is need for a regular sequence of new editions, normally one or two per year; achieving that sequence can pose problems for the Editorial Secretary, who may have too few or too many texts ready for publication at any one time. Details on a separate sheet explain how individual (but not institutional) members can choose to take certain back volumes in place of the newly published volumes against their subscriptions. On the same sheet are given details about the very advantageous discount available to individual members on all back numbers. In 1970 a Supplementary Series was begun, a series which only appears occasionally (it currently has 24 volumes within it); some of these are new editions of texts earlier appearing in the main series. Again these volumes are available at publication and later at a substantial discount to members. All these advantages can only be obtained through the Membership Secretary (the books are sent by post); they are not available through bookshops, and such bookstores as carry EETS books have only a very limited selection of the many published.",
 '']

In [57]:
def upper_foo(line):
    line = line.upper()
    line = line.split()
    return line

In [58]:
rdd_1 = rdd.map(upper_foo)

In [64]:
print(rdd_1.take(2))

[['AS', 'ITS', 'NAME', 'STATES,', 'EETS', 'WAS', 'BEGUN', 'AS', 'A', "'CLUB',", 'AND', 'IT', 'RETAINS', 'CERTAIN', 'FEATURES', 'OF', 'THAT', 'EVEN', 'NOW.', 'IT', 'HAS', 'NO', 'PHYSICAL', 'LOCATION,', 'OR', 'EVEN', 'OFFICE,', 'NO', 'PAID', 'STAFF', 'OR', 'EDITORS,', 'BUT', 'BOOKS', 'IN', 'THE', 'ORIGINAL', 'SERIES', 'ARE', 'PUBLISHED', 'IN', 'THE', 'FIRST', 'PLACE', 'TO', 'SATISFY', 'SUBSCRIPTIONS', 'PAID', 'BY', 'INDIVIDUALS', 'OR', 'INSTITUTIONS.', 'THIS', 'MEANS', 'THAT', 'THERE', 'IS', 'NEED', 'FOR', 'A', 'REGULAR', 'SEQUENCE', 'OF', 'NEW', 'EDITIONS,', 'NORMALLY', 'ONE', 'OR', 'TWO', 'PER', 'YEAR;', 'ACHIEVING', 'THAT', 'SEQUENCE', 'CAN', 'POSE', 'PROBLEMS', 'FOR', 'THE', 'EDITORIAL', 'SECRETARY,', 'WHO', 'MAY', 'HAVE', 'TOO', 'FEW', 'OR', 'TOO', 'MANY', 'TEXTS', 'READY', 'FOR', 'PUBLICATION', 'AT', 'ANY', 'ONE', 'TIME.', 'DETAILS', 'ON', 'A', 'SEPARATE', 'SHEET', 'EXPLAIN', 'HOW', 'INDIVIDUAL', '(BUT', 'NOT', 'INSTITUTIONAL)', 'MEMBERS', 'CAN', 'CHOOSE', 'TO', 'TAKE', 'CERTAIN', 'BACK', 'VOLUMES', 'IN', 'PLACE', 'OF', 'THE', 'NEWLY', 'PUBLISHED', 'VOLUMES', 'AGAINST', 'THEIR', 'SUBSCRIPTIONS.', 'ON', 'THE', 'SAME', 'SHEET', 'ARE', 'GIVEN', 'DETAILS', 'ABOUT', 'THE', 'VERY', 'ADVANTAGEOUS', 'DISCOUNT', 'AVAILABLE', 'TO', 'INDIVIDUAL', 'MEMBERS', 'ON', 'ALL', 'BACK', 'NUMBERS.', 'IN', '1970', 'A', 'SUPPLEMENTARY', 'SERIES', 'WAS', 'BEGUN,', 'A', 'SERIES', 'WHICH', 'ONLY', 'APPEARS', 'OCCASIONALLY', '(IT', 'CURRENTLY', 'HAS', '24', 'VOLUMES', 'WITHIN', 'IT);', 'SOME', 'OF', 'THESE', 'ARE', 'NEW', 'EDITIONS', 'OF', 'TEXTS', 'EARLIER', 'APPEARING', 'IN', 'THE', 'MAIN', 'SERIES.', 'AGAIN', 'THESE', 'VOLUMES', 'ARE', 'AVAILABLE', 'AT', 'PUBLICATION', 'AND', 'LATER', 'AT', 'A', 'SUBSTANTIAL', 'DISCOUNT', 'TO', 'MEMBERS.', 'ALL', 'THESE', 'ADVANTAGES', 'CAN', 'ONLY', 'BE', 'OBTAINED', 'THROUGH', 'THE', 'MEMBERSHIP', 'SECRETARY', '(THE', 'BOOKS', 'ARE', 'SENT', 'BY', 'POST);', 'THEY', 'ARE', 'NOT', 'AVAILABLE', 'THROUGH', 'BOOKSHOPS,', 'AND', 'SUCH', 'BOOKSTORES', 'AS', 'CARRY', 'EETS', 'BOOKS', 'HAVE', 'ONLY', 'A', 'VERY', 'LIMITED', 'SELECTION', 'OF', 'THE', 'MANY', 'PUBLISHED.'], []]

In [65]:
rdd_2 = rdd.flatMap(upper_foo)
rdd_2.take(2)

['AS', 'ITS']

In [67]:
those_words = ['guide', 'at', 'a', 'A', 'POPULAR', 'AS']

In [74]:
rdd_3 = rdd_2.filter(lambda x:x not in those_words)
rdd_3.take(5)

['ITS', 'NAME', 'STATES,', 'EETS', 'WAS']

In [91]:
rdd_4 = rdd_3.groupBy(lambda x: x[0:2])

In [92]:
print([(k, list(v)) for (k, v) in rdd_4.take(3)])

[('NA', ['NAME', 'NATUM']), ('ST', ['STATES,', 'STAFF', 'STYLESHEET', 'STUDENTS.', 'STILL', 'STARTED,', 'STUDY']), ('EE', ['EETS', 'EETS', 'EETS', 'EETS.', 'EETS,', 'EETS'])]

In [90]:
# to understand structure of returned itterable
for (a, b) in rdd_4.take(3):
    print(a,':')
    for ele in b:
        print(ele)

ITS :
ITS
ITS
ITS
ITS
ITS
ITS
STA :
STATES,
STAFF
STARTED,
'CL :
'CLUB',

In [93]:
rdd_5 = sc.parallelize(range(1,10000))

In [96]:
rdd_5.reduce(lambda x,y: x+y)

49995000

### Dataframes

In [114]:
df = spark.read.csv('average-monthly-temperatures-acr.csv',inferSchema=True,  header=True)

In [115]:
df

DataFrame[Month: string, Temperatures: string]

In [116]:
df.show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1938-04|        15.3|
|1938-05|        20.8|
|1938-06|        25.1|
|1938-07|        27.7|
|1938-08|        29.4|
|1938-09|        23.1|
|1938-10|        20.6|
|1938-11|         9.4|
|1938-12|         5.4|
|1939-01|           7|
|1939-02|         3.5|
|1939-03|          12|
|1939-04|        15.3|
|1939-05|        21.9|
|1939-06|        25.6|
|1939-07|        29.2|
|1939-08|        27.9|
|1939-09|        26.4|
|1939-10|        19.1|
|1939-11|         9.6|
+-------+------------+
only showing top 20 rows

In [117]:
df.printSchema()

root
 |-- Month: string (nullable = true)
 |-- Temperatures: string (nullable = true)

In [118]:
df.count()

878

In [119]:
df.select('Month')

DataFrame[Month: string]

In [120]:
df.select('Month').show()

+-------+
|  Month|
+-------+
|1938-04|
|1938-05|
|1938-06|
|1938-07|
|1938-08|
|1938-09|
|1938-10|
|1938-11|
|1938-12|
|1939-01|
|1939-02|
|1939-03|
|1939-04|
|1939-05|
|1939-06|
|1939-07|
|1939-08|
|1939-09|
|1939-10|
|1939-11|
+-------+
only showing top 20 rows

In [121]:
df.describe('Month')

DataFrame[summary: string, Month: string]

In [122]:
df.describe('Month').show()

+-------+-------+
|summary|  Month|
+-------+-------+
|  count|    878|
|   mean|   null|
| stddev|   null|
|    min|1938-04|
|    max|2011-05|
+-------+-------+

In [123]:
df.filter(df.Temperatures=='10').show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1942-03|          10|
+-------+------------+

In [125]:
df.where(df.Month.startswith('1938')).show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1938-04|        15.3|
|1938-05|        20.8|
|1938-06|        25.1|
|1938-07|        27.7|
|1938-08|        29.4|
|1938-09|        23.1|
|1938-10|        20.6|
|1938-11|         9.4|
|1938-12|         5.4|
+-------+------------+

In [129]:
df.where( (df.Month.startswith('1938')) & (df.Month.endswith('1')) ).show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1938-11|         9.4|
+-------+------------+

In [130]:
# creating temporary table to perform sql queries on it
df.registerTempTable('TemperaturesTable')

In [131]:
sqlContext.sql('select * from TemperaturesTable').show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1938-04|        15.3|
|1938-05|        20.8|
|1938-06|        25.1|
|1938-07|        27.7|
|1938-08|        29.4|
|1938-09|        23.1|
|1938-10|        20.6|
|1938-11|         9.4|
|1938-12|         5.4|
|1939-01|           7|
|1939-02|         3.5|
|1939-03|          12|
|1939-04|        15.3|
|1939-05|        21.9|
|1939-06|        25.6|
|1939-07|        29.2|
|1939-08|        27.9|
|1939-09|        26.4|
|1939-10|        19.1|
|1939-11|         9.6|
+-------+------------+
only showing top 20 rows

In [134]:
sqlContext.sql('select min(Temperatures) from TemperaturesTable').show()

+-----------------+
|min(Temperatures)|
+-----------------+
|              0.2|
+-----------------+

In [135]:
sqlContext.sql('select * from TemperaturesTable where Temperatures IN (select min(Temperatures) from TemperaturesTable)').show()

+-------+------------+
|  Month|Temperatures|
+-------+------------+
|1962-01|         0.2|
+-------+------------+

### StorageLevel

This class helps us decide how the RDDs should be stored.
1. Disk
2. Memory
3. Both

It also decides whether the RDDs should be 
1. Serialized 
2. Replicated (Replicate it's partition)

### MLib

ML API provided by spark.

In [136]:
 from pyspark import SparkContext, SparkConf

In [138]:
conf = SparkConf().setMaster('local[*]').setAppName('heart-disease-prediction-using-decision-tree')

In [139]:
import pandas as pd
import numpy as np